@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #3b209c;
    background-image: linear-gradient(315deg, #000000 0%, #000000 84%); 
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
  background-image: linear-gradient(rgba(243, 247, 29, 0.9), rgba(255, 166, 0, 0.9));
    margin-top: 85px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


.search {
    background: black; 
    border: 4px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #ffffff;
}


.search:focus {
    background-color: #000000;
    outline: none;
}

  .show-btn{
      
    background:black;
  border: 4px solid #22254b;
  border-radius: 30px;
  padding: 10px 20px;
  position : absolute;
  top: 110px;
  left : 30px;
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  
}
.show-btn:hover {
  border: 4px solid white;
}

.container{
    z-index: 1;
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%)

    
 
}

input[type="checkbox"]{
  display: none;
}
.container{
  display: none;
  background-image: linear-gradient(315deg, #ffa600 0%, #daa618 84%); 
  border-color: rgb(0, 0, 0);
  color:white;
  border-width: 10px;
  width: 430px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #3498db;
}
.container .text{
  
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
}

form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  color:black;
  border: 1px solid rgb(99, 96, 96);
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: -0px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}
form .btn{
  margin: 30px 0;
  height: 45px;
  border-radius: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #d2dcdd, #ffee00, #f30000, #fbff00);
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
form .signup-link{
  text-align: center;
}
form .signup-link a{
  color: #3498db;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}


main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 400px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: rgb(0, 0, 0);
    color :white;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:20px 40px;
    background-image: linear-gradient(rgba(243, 247, 29, 0.9), rgba(255, 166, 0, 0.9));
    border-radius: 1000px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}
.tag:hover{
    color:rgb(110, 73, 3);
}



.tag.highlight{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(223, 211, 211, 0.9));
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid rgb(255, 136, 0);
    font-size: 20px;
    font-weight: 600;
}




.form-gap {
    padding-top: 70px;
}


footer{
  opacity:1;
  transform: scale(1);
}

.foot-nav {
  list-style-type : none;
  float : right;
  padding-right: 50px;
  
}

.foot-nav li a:is(:hover,:active){
  
  color: yellow;
  
}

.social-links li a:is(:hover,:active){
  transition: color 0.2s;

}

.fa-facebook-f {
  transition: color 0.2s;
}

.fa-twitter {
  transition: color 0.2s;
}

.fa-google {

  transition: color 0.2s;
}

.fa-github {
  transition : color 0.2s;

}

.fa-facebook-f:is(:hover, :active) {
  color: #3b5999;
}

.fa-twitter:is(:hover, :active) {
  color: #55acee;
}

.fa-google:is(:hover, :active) {
  color: red;
}
.fa-github:is(:hover, :active) {
  color: grey;
}






.social-links {
  list-style: none;
  float:left;
 
}

.foot-nav li,
.social-links li{
  display: inline-block;
  margin-right: 16px;

}

.foot-nav li:last-child,
.social-links li:last-child {
  margin-right: 0px;
}

.foot-nav li a,
.social-links li a {
  color:orange;
}

.social-links li a {
  font-size: 20px;
}


footer p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}





